nav {


width: 100%;
position: fixed;
display: flex;
justify-content: center;
padding-block: 5px;
padding-top: 10px;
padding-inline: 10px;
z-index: 99999;
}

.nav_card {

background-color: var(--content-container-color);
width: 650px;
border-radius: 10px;
padding: 10px;
padding-block: 13px;
padding-inline: 20px;
border: var(--container-border-color);

display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;

}


.nav_card .action_container {


display: flex;
flex-direction: row;
gap: 15px;
align-items: center;

}

.nav_link_card {



}


.nav_link_card li.icon {


}

.nav_link_card a{
color: black;

}


.nav_link_card a:hover {

background-color: rgb(157, 213, 157);
color: var(--white-font-color);
transition: linear 0.2s;

}

.nav_link_card a.active {

background-color: green;
color: var(--white-font-color);
transition: linear 0.6s;

}

@media (max-width: 600px) {

.message_me {

display: none;

}


}