* {

box-sizing: border-box;
padding: 0;
margin: 0;


}


:root {


--back-layout-color: rgb(240, 238, 235);
--layout-color: white;
--container-border-color: 1px solid rgb(204, 204, 204);
--dashboard-color: rgb(231, 255, 231);

--placeholder-color: white;

--placeholder-background-color: white;
--placeholder-border-color: 1px solid rgb(166, 165, 165);


--toggle-size: 100px;

--button-color: green;


--dashboard-padding: 20px;

--font-color: black;
--white-font-color: white;
--green-font-color: green;
--green-border-color: 2px solid green;




}


